@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .link{
        @apply cursor-pointer hover:underline;
    }.button {
        @apply p-2 text-xs md:text-sm bg-gradient-to-b from-yellow-200 to-yellow-400 border border-yellow-300 rounded-sm focus:ring-2 focus:outline-none focus:ring-yellow-500 active:from-yellow-500;
    }
    .disabledButton {
        @apply p-2 text-xs md:text-sm bg-gradient-to-b from-gray-300 to-gray-500 border-gray-200 text-gray-300 cursor-not-allowed;
    }
}